@font-face {
  font-family: "Insmall Caps";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/fontinsmallcaps.woff2") format("woff2"), url("./fonts/fontinsmallcaps.woff") format("woff");
}