$black: #000000;
$white: #ffffff;
$red: #d20000;
$accent: #1ba29b;
$explicit: #8888ff;
$info: #7f7f7f;
$price: #aa9e82;

$blue-background: #051034;
$blue-background-light: #191752;


$tablet-width: 768px;
$desktop-width: 1150px;

$font: "Insmall Caps", "Arial", sans-serif;